*{
    padding: 0;
    margin: 0;
  }
  /* Estilo de la barra del menu  */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#141c24;
    color: #fff;
  }
  /* Estilo del logotipo */
  .navbar-logo img {
    max-width: 40%;
    height: auto;
  }

  /* Estilo de la lista del menu  */
.navbar-links {
    display: flex;
    list-style: none;
  }
  
.navbar-links li {
    margin: 0 10px;
  }
  
.navbar-links a {
    color: #fff;
    text-decoration: none;
  } 

  /* para el menu deepleglable */
.menuv{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: white;
    z-index:999; /* Valor alto para asegurar que el menú esté por encima del slider */
}

.menuh li:hover .menuv{
    display: block;
}

.menuv li:hover{
    background-color: #d1c4b7 ;
}

.menuv li a{
    display: block;
    color:black;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

.menuh{
  list-style: none;
  display: flex;
  justify-content: space-around;
  position:  relative;
}

.menuh > li > a{
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.menuh>li:hover{
  background-color:  #656363 ;
} 


/* Responsive */
@media screen and (min-width: 768px) {
    .navbar-links {
      display: flex;
      align-items: center;
    }
  }
  
  /* Informacion de los hoteles */
  /* Contenedor de la informacion */
  .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  /* contenedor de las imagenes y el texto y botton  */
  .cuadro {
    width: 20%;
    margin: 2%;
    padding: 20px;
    border: 2px solid #ccc;
    text-align: center;
    margin-left: 2%; 
  }
  
  .cuadro img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
  }
   
  /* Darle forma al botton  */
  .cuadro button {
    background-color: #141c24;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
  
  }
  .cuadro button:hover {
    background-color: #4c5454 ;
  }
  
  @media only screen and (max-width: 768px) {
    .cuadro {
      width: 100%;
      margin: 10px 0;
    }
  }
  
  /* Slider  */
  .slider_conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura en porcentaje de la pantalla */
    margin-top: 2%;
    z-index:1;

  }
  
  .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(../src/image/Habitacion1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    animation:animate 10s infinite;
  }
  
  /* Darle animacion a slider con keyframes  */
  @keyframes animate{
    20% {
      background-image: url(../src/image/Habitacion2.jpg);
      background-size: cover;
    }
    40% {
      background-image: url(../src/image/Habitacion3.jpg);
      background-size: cover;
    }
    60% {
      background-image: url(../src/image/Habitacion1.jpg);
      background-size: cover;
    }
    80% {
      background-image: url(../src/image/Habitacion2.jpg);
      background-size: cover;
    }
  }
  /* Para que sea responsive  */
  @media (max-width: 768px) {
    .slider_conteiner {
      height: 50vh;
    }
  }
  
  /* Pie de pagina  */
  footer {
    background-color:#141c24;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-images img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
    margin-top: 15%;
  }
  
  hr {
    border: none;
    border-top: 1px solid #fff;
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .footer-images {
      flex-direction: center;
    }
    @media (max-width: 768px) {
      .footer-images img {
        margin: 10px 0;
        margin: 0 20px;
        margin-top: 10%;
        width: 40px;
      }
    }
  }
  
 